<%- include('../includes/head.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container">
      <div class="card app-card">
        <div class="card-body">
          <h4>Welcome to Subscription app</h2>
          <p class="text-info mb-4">By clicking button below you can enable App for your Store </h4>
          <div class="alert alert-success mb-4">
            <strong>Congratulations!</strong> You have sccessfully Enabled the app.
          </div>
          <div class="alert alert-danger mb-4">
            <strong>Sorry!</strong> Some thing went wrong.
          </div>
          <button class="btn btn-primary install_asset">Enable App</button>
        </div>
      </div>
    </div>
  </main> 

    <script>
        var shop_token = '<%-token%>';
        var shop_name = '<%-shop_name%>';
    </script>
    <script src="/scripts/dashboard.js"></script>

<%- include('../includes/end.ejs') %>