<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
  <div class="container">
    <h4>Subscribed Orders</h4>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Date</th>
          <th scope="col">Customer</th>
          <th scope="col">Total</th>
          <th scope="col">Selling Plan</th>
          <th scope="col">Items</th>
          <th scope="col">Next Date</th>
          <th scope="col">Subscription Status</th>
        </tr>
      </thead>
    
      <tbody>
        <% for (let item of OrderData){ %>
          <tr>
            <td><%= item.OrderNumber%></td>
            <td><%= item.Date%></td>
            <td><%= item.Customer%></td>
            <td><%= item.Total%></td>
            <td><%= item.SellingPlan%></td>
            <td><%= item.Items%></td>
            <td><%= item.NextDate%></td>
            <td><%= item.Status%></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
<%- include('../includes/end.ejs') %>